{% extends 'layout2.html'%}
{% load static %}
{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}
{%block main_content%}
<div class="container mt-3">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Profile</th>
                <th>Marks</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.user.first_name}}</td>
                <td>{{ student.user.last_name}}</td>
                <td>{{ student.user.email}}</td>
                <td>
                    {% if student.profile %}
                        <img src="{{ student.profile.url }}" width="55" height="55" class="rounded-circle me-2">
                    {% else %}
                        <img src="{% static 'images/avatar.png'%}" width="55" height="55" class="rounded-circle me-2">
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-sm btn-info"> <a href="{% url 'get_student_marks' student.user.id 1 %}" class="text-decoration-none text-white">1st sem marks</a> </button>
                    <button class="btn btn-sm btn-info"> <a href="{% url 'get_student_marks' student.user.id 2 %}" class="text-decoration-none text-white">2nd sem marks</a> </button>
                </td>

                <td>
                    {% if student.user.is_active == 1 %}
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 58 58">
                        <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#ccff90" d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"></path>
                    </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 58 58">
                            <circle cx="29" cy="29" r="24" fill="#f44336" />
                            <path fill="#ffffff" d="M40.971,17.029c-0.781-0.781-2.047-0.781-2.828,0L29,25.172l-9.143-9.143c-0.781-0.781-2.047-0.781-2.828,0 c-0.781,0.781-0.781,2.047,0,2.828L25.172,29l-9.143,9.143c-0.781,0.781-0.781,2.047,0,2.828c0.781,0.781,2.047,0.781,2.828,0 l9.143-9.143l9.143,9.143c0.781,0.781,2.047,0.781,2.828,0c0.781-0.781,0.781-2.047,0-2.828L32.828,29L40.971,21.886C41.752,21.105,41.752,19.839,40.971,19.029z"></path>
                        </svg>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>  
</div>  

{% endblock %}

