{% extends 'layout2.html'%}
{% load static %}
{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}
{%block main_content%}
<div class="container mt-3">
    <form method="post" action="{% url 'teacher_profile' %}"  class="w-50" novalidate enctype="multipart/form-data">
    <h2>Profile Details</h2>
    {% csrf_token %}

      {% for common_form_item in common_form %}
        <div class="form-group mb-3">
          {{ common_form_item.label_tag }}
          {{ common_form_item }}
          {% for error in common_form_item.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %} 

      {% for form_item in form %}
          <div class="form-group mb-3">
            {{ form_item.label_tag }}
            {{ form_item }}
            {% for error in form_item.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
      {% endfor %} 

     <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
{% block js %}
 <script src="{% static 'js/common.js' %}"></script>
{% endblock %}