{% extends 'login_layout.html'%}

{% load static %}
{% block content%}

  <main class="d-flex w-100" style="background-color:#c8e5e5;">
    <div class="container d-flex flex-column">
      <div class="row vh-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
          <div class="d-table-cell align-middle">

            <div class="text-center mt-4">
              <h1 class="h2">Welcome</h1>
              <p class="lead">
                Set your login for Teacher or Student
              </p>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="m-sm-4">
                  <div class="text-center">
                    <img src="{% static 'images/school_logo.jpeg'%}" alt="Charles Hall"
                      class="img-fluid rounded-circle" width="132" height="132" />
                  </div>
                  <form method="post" action="{% url 'google_register' %}" novalidate>
                    {% csrf_token %}
                    <input type="email" class="form-control" name="email" value="{{ user.email}}" hidden>
                    <input type="text" class="form-control" name="first_name" value="{{ user.first_name}}" hidden>
                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name}}" hidden>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-select select2" name="role" required>
                            <option value="2">Teacher</option>
                            <option value="3">Student</option>
                        </select>
                    </div>
                    
                    <div class="text-center mt-3">
                      <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>


{% endblock%}
{% block js%}
  <script src="{% static 'js/common.js' %}"></script>
{% endblock%}