
<div class="card-body p-0">
    <table class="table table-sm">
        <thead>
            <tr>
                <td><b>Username</b></td>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Email</b></td>
                <td><b>User Type</b></td>
            </tr>
        </thead>
        <tbody class="mt-5">
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.role|add:0 == 2  %}Teacher {% else %} Student {% endif %}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div>No of users : <b> {{ users|length }} </b> </div>
</div>

